input#description {
  width: 300px;
  height: 200px;
}

.recipes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 1px lightgray;
  a {
    text-decoration: none;
    color: black;
  }
  .recipe-image {
    width: 250px;
    .recipe-photo {
      width: 100%;
      border-radius: 10px;
    }
  }
  .name-fave-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0px;
    border: 1px solid blue;
  }
  .recipe-name {
    font-weight: 600;
    // margin-right: 10px;
    // max-width: 200px;
    // white-space: wrap;
    border: 1px solid red;
  }
  .recipe-fave {
    // border: 1px solid green;
  }
  .recipe-stars {
    padding: 10px 0px;
    border-top: 1px solid lightgray;
  }
  .recipe-description {
    padding: 0px;
    width: 250px;
    white-space: wrap;
    text-align: justify;
    // border: 1px solid aqua;
  }
}
