input#description {
  width: 300px;
  height: 200px;
}

.recipe-board {
  padding: 125px 0px 0px 70px;
  .recipe-create {
    text-align: center;
    a {
      button {
        font-size: 1.3rem;
        font-weight: 500;
        width: 170px;
        padding: 5px 0px;
        margin: 15px 0px;
        border-radius: 10px;
        border: 5px solid white;
        background-image: linear-gradient(
          45deg,
          #ff62bba0 6%,
          #ff9f39a0,
          #ffe62fa0,
          #90ff42a0,
          #4bdbffa0,
          #c27cffa0 92%
        );
      }
    }
  }
}

.recipes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 10px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 1px lightgray;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: black;
  }
  .recipe-image {
    width: 250px;
    .recipe-photo {
      width: 100%;
      border-radius: 10px;
    }
  }
  .recipe-text-wrapper {
    padding: 0px 10px;
    width: 250px;

    .name-fave-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      padding: 0px;
      a {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .recipe-name {
          font-weight: 600;
          text-align: center;
        }
      }
    }
    .recipe-stars {
      padding: 10px 0px;
      border-top: 1px solid lightgray;
    }
    .recipe-description {
      padding: 0px;
      white-space: wrap;
      text-align: justify;
    }
  }
}
