/* rainbow
  background-image: linear-gradient(
    to left,
    #ff62bba0 6%,
    #ff9f39a0,
    #ffe62fa0,
    #90ff42a0,
    #4bdbffa0,
    #c27cffa0 92%
  );
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "BananaSplit";
  src: local("BananaSplit"), url(./fonts/bananasplit.ttf) format("truetype");
}
@import "./fonts/bananasplit.ttf";

@import "./components/auth/auth.scss";
@import "./components/nav/nav.scss";
@import "./components/buttons/buttons.scss";
@import "./components/dashboard/dashboard.scss";
@import "./components/recipes/recipes.scss";
@import "./components/users/users.scss";
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #f0f0f0;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

#root {
  min-height: 100vh;
  background-image: url("./images/confectionary.png");
  background-repeat: repeat;
}

.App {
  font-size: 3rem;
  height: 100%;
}

// buttons
.form-btns {
  .form-btn {
    font-size: 1.3rem;
    margin: 10px;
    padding: 5px 10px;
    background-color: pink;
    border: none;
    border-radius: 5px;
    width: 100px;
  }
}
